
<div class= "container"> 
<h1 class="movieTitle">{{theMovie.title}}</h1>
<video class="videoplayer" width="960" height="480" controls>
  <source src="{{theMovie.movieFile}}" type="video/mp4">
</video>
<br>
{{!-- <img src="{{theMovie.image}}" alt="" style="width: 300px"> --}}
<h3>Genre: {{theMovie.genre}}</h3>
<h3>Duration: {{theMovie.duration}}</h3>
<h3>Year: {{theMovie.year}}</h3>
<div><h3>Description:</h3><p>{{theMovie.description}}</p></div>
</div>